@using ExquisiteCorpse1.Models;
@using Microsoft.EntityFrameworkCore;

<h1>HERE</h1>
@foreach (Corpse c in Model)
{
    <br />
    <a href=@Url.Action("ThisCorpseView/" + c.CorpseId + "", "Corpse")> @*Placeholder Route*@
        <div class="corspe-container">
            <div class="corpse-frame">
                <input type="hidden" name="corpseId" value=@c.CorpseId>
                <div class="corpse-body">
                    <div class="corpse-title">
                        <h3>@Html.DisplayFor(modelItem => c.Title)</h3>
                    </div>
                    <div class="corpse-friends-container">
                       @foreach(ApplicationUser au in c.Players)
                       {
                           <div>
                               <h3>@au.ProfileName</h3>
                           </div>
                       }
                    </div>
                    <div class="corpse-text">
                        <br />
                       <p>@c.Sections[0].ToString().Substring(0, 200)</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br />
}
